@import "../../styles/main.scss";

.link {
    font-family: $font-family-tertiary;
    font-size: toRem(20px);
    line-height: toRem(72px);
    text-decoration: none;
    position: relative;
}

.primary {
    font-weight: 600;
    color: $color-black;
    border-bottom: toRem(2px) solid $color-black;

    @include button-focus($color-black);
    @include button-hover-outline($color-black);

    &:hover::after,
    &:focus::after {
        top: toRem(-6px);
        bottom: toRem(-6px);
        left: toRem(-6px);
        right: toRem(-6px);
    }
}

.navLink {
    font-family: $font-family-secondary;
    font-size: toRem(18px);
    line-height: toRem(32px);
    color: $color-black;
    width: fit-content;

    @include button-hover-underline($color-black);
    @include button-focus-underline($color-black);
}

.navHeader {
    background-image: linear-gradient(
        to right,
        $color-yellow2,
        $color-yellow2 50%,
        $color-white 50%
    );
    font-weight: 800;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &:before {
        content: "";
        background: $color-yellow2;
        display: block;
        position: absolute;
        bottom: toRem(15px);
        left: 0;
        width: 0;
        height: toRem(3px);
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-position: 0;
    }

    &:hover::before {
        width: 100%;
    }

    @include button-focus-underline($color-yellow2);

    &:focus::after {
        bottom: toRem(15px);
    }
}

.subpage {
    color: $color-white;
    height: fit-content;
    line-height: normal;
    font-size: toRem(18px);
    line-height: toRem(24px);

    @include button-hover-underline($color-white);
    @include button-focus-underline($color-white);
}
