@import '../../styles/main.scss';

.button {
    max-width: toRem(219px);
    max-height: toRem(64px);
    border-radius: toRem(3px);
    font-size: toRem(16px);
    line-height: toRem(50px);
    font-weight: 500;
    font-family: $font-family-primary;
    border: none;
    padding: toRem(10px) toRem(42px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

.icon {
    margin-left: toRem(8px);
}

.primary {
    background-color: $color-blue;
    color: $color-white;

    @include button-hover($color-blue-hover);
    @include button-focus($color-white);
}

.secondary {
    background-color: $color-yellow2;
    color: $color-black;
}

.tertiary {
    padding: toRem(14px) toRem(20px);
    max-width: toRem(171px);
    max-height: toRem(44px);
    background-color: $color-white;
    text-decoration: none;
    border: toRem(1px) solid $color-black;

    @include button-focus($color-black);

    & span {
        &::after {
            content: url('/icons/arrow-right.svg');
            margin-left: toRem(8px);
            position: relative;
            top: toRem(6px);
        }
    }

    &:hover {
        background-color: $color-black;
        color: $color-white;

        & span {
            &::after {
                content: url('/icons/arrow-right-white.svg');
            }
        }
    }
}

.white {
    color: $color-white;
}

.richBlack {
    color: $color-rich-black;
}

.black {
    color: $color-black;
}
