@import "../../styles/main.scss";

.button {
    max-width: toRem(219px);
    max-height: toRem(64px);
    border-radius: toRem(3px);
    font-size: toRem(16px);
    line-height: toRem(50px);
    font-weight: 500;
    font-family: $font-family-primary;
    border: none;
    padding: toRem(10px) toRem(42px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

.icon {
    margin-left: toRem(8px);
}

.primary {
    background-color: $color-blue;
    color: $color-white;

    @include button-hover($color-blue-hover);
    @include button-focus($color-white);
}

.secondary {
    background-color: $color-yellow2;
    color: $color-black;
}

.tertiary {
    padding: toRem(14px) toRem(20px);
    max-width: toRem(171px);
    max-height: toRem(44px);
    background-color: $color-white;
    text-decoration: none;
    border: toRem(1px) solid $color-black;

    @include button-focus($color-black);

    & span {
        &::after {
            content: url("/icons/arrow-right.svg");
            margin-left: toRem(8px);
            position: relative;
            top: toRem(6px);
        }
    }

    &:hover {
        background-color: $color-black;
        color: $color-white;

        & span {
            &::after {
                content: url("/icons/arrow-right-white.svg");
            }
        }
    }
}

.tertiaryDark {
    background-color: $color-black;
    color: $color-white;
    text-decoration: none;

    @include button-hover($color-grey4);
    @include button-focus($color-grey4);

    &:focus::after {
        top: toRem(-4px);
        bottom: toRem(-4px);
        left: toRem(-4px);
        right: toRem(-4px);
    }

    @media #{$breakpoint-mobile} {
        width: 100%;
        max-width: none;
    }
}

.linkButton {
    width: 100%;
    max-height: none;
    max-width: none;
    justify-content: flex-start;

    @include button-focus($color-black);

    & div {
        font-size: toRem(24px);
        line-height: toRem(36px);
        font-weight: 600;

        @media #{$breakpoint-tablet} {
            font-size: toRem(18px);
            line-height: toRem(24px);
        }
    }
}

.icon {
    background-color: $color-rich-black;
    padding: toRem(15px);
    border-radius: 50%;

    @include button-hover($color-blue);
    @include button-focus($color-black);

    &:focus::after {
        border-radius: 50%;
        top: toRem(-4px);
        bottom: toRem(-4px);
        left: toRem(-4px);
        right: toRem(-4px);
    }
}

.logo {
    padding: 0;
    width: fit-content;
}

.logoHeader {
    padding: 0;
    width: fit-content;

    @include button-focus($color-yellow2);
}

.socialMedia {
    padding: 0;
    width: toRem(48px);
    height: toRem(48px);
    background-color: $color-anti-flash;
    border-radius: 50%;

    @include button-hover($color-black);
    @include button-focus($color-black);

    &:hover {
        background-color: $color-black;

        & > div::after {
            filter: invert(1);
        }
    }

    &:focus::after {
        border-radius: 50%;
        top: toRem(-4px);
        bottom: toRem(-4px);
        left: toRem(-4px);
        right: toRem(-4px);
    }
}

.heading {
    background-color: $color-yellow2;
    color: $color-black;
    border-radius: toRem(35px);
    padding: toRem(5px) toRem(40px);

    & span {
        font-weight: 600;
    }

    @include button-hover($color-yellow-hover);
    @include button-focus($color-black);

    &:focus::after {
        border-radius: toRem(35px);
    }
}

.white {
    color: $color-white;
}

.richBlack {
    color: $color-rich-black;
}

.black {
    color: $color-black;
}
