@import "../../styles/main.scss";

.h1 {
    font-family: $font-family-secondary;
    font-size: toRem(100px);
    line-height: toRem(110px);
    font-weight: 800;

    @media #{$breakpoint-tablet} {
        font-size: toRem(75px);
        line-height: toRem(80px);
    }

    @media #{$breakpoint-mobile} {
        font-size: toRem(42px);
        line-height: toRem(50px);
    }
}

.h2 {
    font-family: $font-family-secondary;
    font-size: toRem(60px);
    line-height: toRem(72px);
    font-weight: 800;

    @media #{$breakpoint-tablet} {
        font-size: toRem(50px);
        line-height: toRem(62px);
    }

    @media #{$breakpoint-mobile} {
        font-size: toRem(40px);
        line-height: toRem(52px);
    }
}

.h3 {
    font-family: $font-family-secondary;
    font-size: toRem(28px);
    line-height: toRem(24px);
    font-weight: 800;

    @media #{$breakpoint-tablet} {
        font-size: toRem(20px);
        line-height: toRem(18px);
    }
}

.xl {
    font-family: $font-family-secondary;
    font-size: toRem(200px);
    line-height: toRem(200px);
    font-weight: 800;

    @media #{$breakpoint-tablet} {
        font-size: toRem(100px);
        line-height: toRem(80px);
    }

    @media #{$breakpoint-mobile} {
        font-size: toRem(70px);
        line-height: toRem(50px);
    }
}

.subpage {
    font-family: $font-family-secondary;
    font-size: toRem(75px);
    line-height: toRem(75px);
    font-weight: 800;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.white {
    color: $color-white;
}

.black {
    color: $color-black;
}

.richBlack {
    color: $color-rich-black;
}
