@mixin button-focus($color) {
    &:focus {
        outline: none;

        &::after {
            content: '';
            position: absolute;
            top: toRem(-2px);
            bottom: toRem(-2px);
            left: toRem(-2px);
            right: toRem(-2px);
            border: toRem(2px) solid $color;
            background-color: transparent;
            border-radius: toRem(5px);
            pointer-events: none;
            z-index: 2;
        }
    }
}

@mixin button-hover($color) {
    &:hover {
        background-color: $color;
    }
}

@mixin button-hover-outline($color) {
    &:hover {
        outline: none;

        &::after {
            content: '';
            position: absolute;
            top: toRem(-2px);
            bottom: toRem(-2px);
            left: toRem(-2px);
            right: toRem(-2px);
            border: toRem(2px) solid $color;
            background-color: transparent;
            border-radius: toRem(5px);
            pointer-events: none;
            z-index: 2;
        }
    }
}
