@font-face {
    font-family: Manrope;
    src: url("../../resources/fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("../../resources/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Catamaran;
    src: url("../../resources/fonts/Catamaran-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
