@import "../../styles/main.scss";

.text {
    @include type-main-copy();
}

.block {
    display: block;
}

.xs {
    @include font-size(12px);
}

.sm {
    @include font-size(16px);
}

.md {
    @include font-size(18px);
    line-height: toRem(34px);
}

.lg {
    @include font-size(30px);
    line-height: toRem(40px);
}

.xl {
    @include font-size(40px);
    line-height: toRem(72px);
}

.bold {
    font-weight: 800;
}

.black {
    color: $color-black;
}

.richBlack {
    color: $color-rich-black;
}

.white {
    color: $color-white;
}

.red {
    color: $color-red;
}
