@import "../../styles/main.scss";

.services {
    background-color: $color-floral;
}

.layer {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper {
    max-width: toRem(1170px);
    margin: 0 auto;
    padding: toRem(130px) 0;

    @media #{$breakpoint-tablet} {
        padding: toRem(80px) toRem(32px);
    }
}

.label {
    margin-bottom: toRem(20px);
}

.topSection {
    width: 100%;
    display: flex;
    gap: toRem(24px);
    margin-bottom: toRem(77px);

    @media #{$breakpoint-mobile} {
        flex-direction: column;
        margin-bottom: toRem(40px);
    }
}

.serviceList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: toRem(30px);
    padding: 0 toRem(32px);
    position: relative;
    z-index: 2;

    & .serviceItem {
        flex-grow: 1;
    }

    @media (max-width: 930px) {
        max-width: toRem(1170px);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: toRem(32px);
    }

    @media #{$breakpoint-mobile} {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}

.serviceItem {
    display: block;
}

.yellowCircle {
    position: absolute;
    top: toRem(153px);
    right: toRem(159px);

    @media #{$breakpoint-tablet} {
        top: toRem(60px);
    }
}

.roundLine {
    position: absolute;
    top: toRem(250px);
    left: toRem(152px);

    @media (max-width: 1680px) {
        width: toRem(37px);
        height: toRem(46px);
        top: toRem(340px);
    }

    @media #{$breakpoint-tablet} {
        display: none;
    }
}

.stroke {
    position: absolute;
    top: toRem(680px);
    right: toRem(50px);

    @media (max-width: 1610px) {
        width: toRem(100px);
        height: toRem(80px);
    }

    @media (max-width: 1480px) {
        top: toRem(870px);
        right: toRem(50px);
    }

    @media #{$breakpoint-tablet} {
        display: none;
    }
}
